<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>cricBC</title>
  <link rel="stylesheet" href="/static/css/main.css">
  <!--
  <link rel="stylesheet" href="/static/css/dist/css/bootstrap.min.css">
  -->
  <script src="static/js/jquery.min.js"></script>
  <script src="static/css/dist/js/bootstrap.min.js"></script>
  <script src="static/js/comments.js"></script>
  <script src="static/js/cricbc.js"></script>
</head>
<body>
<!-- 	<div id="deck">
		<div class="score">
		 	<span id="batting_score"></span>
		 	<span class="operator" id="batting_wickets"></span>
		 	<span id="batting_overs"></span>
		</div>
		<div class="score">
		 	<span id="current_run_rate"></span>
		 	<span id=""></span>
		</div>
	</div>
	<div class="deck">
		<span id="match_result"></span>
	</div> -->
<form action="admin" method="post">
            <p><input type="text" name="new_url"></p>
            <p><input type="submit" value="OK"></p>
</form>

</body>
</html>