<!doctype html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <title>cricBC</title>
        <link rel="stylesheet" href="/static/css/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <script src="static/js/jquery.min.js"></script>
        <script src="static/css/dist/js/bootstrap.min.js"></script>
        <script src="static/js/comments.js"></script>
        <script src="static/js/cricbc.js"></script>
    <!-- start Mixpanel -->

    <script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
mixpanel.init("b1354035cd172829b80c368246203ca7");</script>

<!-- end Mixpanel -->
    </head>
    
    <body>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading"><h2></h2></div>
                <div class="panel-body">
                    
                    <a class="btn btn-medium btn-orange  btn-radius" id="match_result" href="#">Match Result</a>
                    <br/> 
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <a class="btn btn-medium btn-gray btn-radius" id="batting_team" href="#">Team 1</a>
                        <br/> 
                        Runs 
                        <a class="btn btn-medium btn-blue btn-radius" id="batting_score" href="#">Runs</a>
                        Wickets 
                        <a class="btn btn-medium btn-red btn-radius" id="batting_wickets" href="#">Wickets</a>
                        Overs
                        <a class="btn btn-medium btn-green btn-radius" id="batting_overs" href="#">Overs</a>

                        <div id="details" style="display: none;" class="panel panel-default">
                          <div class="panel-body">
                            <table id="batsman-details" class="table" style="margin-bottom: 3px;">
                              
                            </table>
                          </div>
                        </div>
                        <div id="bowl-details" style="display: none;" class="panel panel-default">
                          <div class="panel-body">
                            <table id="bowler-details" class="table" style="margin-bottom: 3px;">
                              
                            </table>
                          </div>
                        </div>

                      </div>
                    </div>
                    
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <a class="btn btn-medium btn-gray btn-radius" id="bowling_team" href="#">Team 2</a>
                        <a class="btn btn-medium btn-green btn-radius" id="bowling_score" href="#">Target</a>
                        <div id="team2-details" style="display: none;" class="panel panel-default">
                          <div class="panel-body">
                            <table id="team2-batsman-details" class="table" style="margin-bottom: 3px;">
                              
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="panel-footer">
                     <h4>Cric BC <small>created by <a href="https://twitter.com/pradeepbishnoi">
    @pradeepbishnoi
  </a></small></h4>

                </div>
            </div>
            <div class="wrapper-deck" style="display: none;">
                 <h1>Running commentary</h1>

                <div class="main-deck">
                    <p>What is the meaning of life ?</p>
                </div>
            </div>
        </div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60608487-1', 'auto');
  ga('send', 'pageview');

</script>

<a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_blue.png" alt="Mobile Analytics" /></a>

<a title="Google Analytics Alternative" href="http://clicky.com/100825245"><img alt="Google Analytics Alternative" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
<script type="text/javascript">
var clicky_site_ids = clicky_site_ids || [];
clicky_site_ids.push(100825245);
(function() {
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = '//static.getclicky.com/js';
  ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
})();
mixpanel.track("Video play");
</script>

    </body>

</html>




